<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IFrame Example</title>
</head>

<body >
<h4 style="font-weight: 800;margin-left: 40%;">IFrame STQA Practical</h4>
<iframe src="https://www.programiz.com/python-programming/online-compiler/" style="height: 80vh;width: 80%;margin-left: 10%;" title="Iframe Example"></iframe>

</body>
</html>
